.footer {
  color: rgb(240, 240, 240);
  background-color: rgb(23, 23, 23);
  padding: 1.5rem 3.125rem;
}
.footer hr {
  margin: 0;
  border: 1px solid rgb(67, 67, 67);
}
@media (max-width: 960px) {
  .footer {
    padding: 2rem 1.25rem;
  }
}

.footer__top {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding: 2rem 0rem;
}
@media (max-width: 960px) {
  .footer__top {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.footer__top .column-item h2 {
  color: rgb(240, 240, 240);
  margin-bottom: 0.8rem;
}
.footer__top .column-item .menu-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width: 960px) {
  .footer__top .column-item .menu-links {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer__top .column-item .menu-links a {
  color: rgb(204, 204, 204);
  text-decoration: underline;
  text-decoration-color: rgb(204, 204, 204);
  transition: color 0.25s, text-decoration 0.25s;
  font-size: 0.8125rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}
.footer__top .column-item .menu-links a:hover {
  color: rgb(150, 150, 150);
  text-decoration-color: rgb(150, 150, 150);
}
.footer__top .help p {
  color: rgb(204, 204, 204);
  font-size: 0.8125rem;
  margin-bottom: 0.5rem;
}
.footer__top .help a {
  font-weight: 700;
  color: rgb(240, 240, 240);
  transition: color 0.25s;
}
.footer__top .help a:hover {
  color: rgb(150, 150, 150);
}
.footer__top .copyright {
  margin-top: 1rem;
  margin-right: 1rem;
  color: rgb(204, 204, 204);
}
.footer__top .copyright * {
  font-size: 0.8125rem;
}
.footer__top .copyright a {
  color: rgb(240, 240, 240);
  transition: color 0.25s, text-decoration 0.25s;
}
.footer__top .copyright a:hover {
  color: rgb(150, 150, 150);
}

.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0rem;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (max-width: 960px) {
  .footer__bottom {
    flex-direction: column;
    align-items: stretch;
  }
}
.footer__bottom .item {
  display: flex;
  align-items: flex-start;
  justify-self: start;
}
.footer__bottom .item p {
  margin-bottom: 0.5rem;
  font-size: 0.8125rem;
}
.footer__bottom .item.payment {
  flex-direction: column;
}
.icon-container {
  display: flex;
  gap: 0.5rem;
}
.icon-container i {
  font-size: 24px;
}
.footer__bottom .item.follow {
  flex-direction: column;
}
.social-media-container {
  display: flex;
  gap: 1.5rem;
}
.social-media-container a {
  text-decoration: none;
  color: white;
}
.social-media-container a i {
  font-size: 20px;
  color: rgba(240, 240, 240);
  transition: 0.25s;
}
.social-media-container a i:hover {
  color: rgb(150, 150, 150);
}
.footer__bottom .item.subscribe {
  gap: 1rem;
  align-items: center;
}
.footer__bottom .item.subscribe h2 {
  line-height: 1.2;
}
.footer__bottom .item.subscribe input {
  padding: 1rem 1.3rem;
  background-color: rgb(0, 0, 0);
  border: 0.2rem solid rgb(67, 67, 67);
  transition: border 0.25s;
  color: rgb(240, 240, 240);
  border-radius: 0.3rem;
  font-weight: 500;
  transition: border 0.25s;
}
.footer__bottom .item.subscribe input:hover {
  border-color: rgb(240, 240, 240);
}
@media (max-width: 960px) {
  .footer__bottom .item.subscribe input {
    flex: 1;
  }
}

@media (max-width: 600px) {
  .subscribe {
    flex-direction: column;
    align-items: start !important;
  }

  .subscribe input {
    width: 100%;
  }

  .subscribe button {
    width: 100%;
  }
}

.button-primary {
  padding: 1rem 1.3rem;
  font-weight: 700;
  border-radius: 0.3rem;
  background-color: rgba(240, 240, 240, 1);
  color: rgb(0, 0, 0);
  transition: all 0.4s ease-in-out;
  text-transform: none;
  border: none;
  cursor: pointer;
  font-size: 0.8125rem;
  min-width: 6.25rem;
  min-height: 2.8125rem;
  text-transform: capitalize;
}
.button-primary:hover {
  background-color: rgb(220, 220, 220);
  color: rgb(0, 0, 0);
}
